[submodule "src/poky"]
	path = src/poky
	url = https://github.com/yoctoproject/poky.git
[submodule "src/meta-openembedded"]
	path = src/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "src/meta-sunxi"]
	path = src/meta-sunxi
	url = https://github.com/linux-sunxi/meta-sunxi.git
[submodule "src/meta-mender"]
	path = src/meta-mender
	url = https://github.com/mendersoftware/meta-mender.git
