[Unit]
Description=Distillation application
After=network.target embedded.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/root/distillation/distillation -port 50002 -embedded_port 50001

[Install]
WantedBy=multi-user.target